.cardTable {
    border:solid brown 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #32CD32;
 
    
    
}

body{
    background-color: black;
}
.hands {
    font-size: 2em;
    text-align: center;
    font-family: 'Creepster', cursive;


}
.players {
    
    background-color: #32CD32;
    float:left;
    text-align: center;
    font-family: 'Creepster', cursive;
  
}
.players img{
    border:solid red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
}


h1{
    border:solid;
    background-color: purple;
    color:#32CD32;
    text-align: center;
    font-family: 'Creepster', cursive;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    color: gray;
    font-size: .8em;
}